html,
body {
  margin: 0;
  padding: 0;
  background-color: "#c8cdd2";
}

canvas {
  display: block;
}

button {
  border-radius: 3px;
  font-family: monospace;
  color: #383838;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#ensemble-buttons-container {
  position: absolute;
  top: 12px;
  left: 10px;
  display: flex;
  gap: 5px;
  z-index: 10;
}

.ensemble-btn {
  font-size: 10px;
  padding: 0px;
  margin-right: 5px;
  width: 100px;
  height: 30px;
  border: none;
}

#start-ensemble-btn {
  background-color: #8bb95a;
}

#stop-ensemble-btn {
  background-color: #e17a6b;
}

.tape-loop-btn {
  border: none;
  font-size: 10px;
  cursor: pointer;
}

.tape-loop-start {
  background-color: #8bb95a;
  font-size: 13px;
  padding: 0 0 2px 0;
}

.tape-loop-stop {
  background-color: #e17a6b;
  font-size: 14px;
  padding: 0 0 2px 0;
}

.tape-loop-test {
  background-color: #f0c749;
  font-size: 18px;
  padding: 0px 0px 3px 0px;
}

#spectrum-container {
  position: absolute;
  top: 12px;
  left: 230px; /* Position it after the buttons */
  width: 208px;
  height: 28px;
  background-color: #c8cdd2;
  padding: 0;
  z-index: 10;
}

#spectrum-canvas {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid rgba(87,86,86,0.3);
  border-radius: 2px;
}